@charset "utf-8";
/*--------------------------------------------------\
|               |               | default.css       |
|---------------------------------------------------|
| For use with:                                     |
| Web-ERP - http://web-erp.sourceforge.net          |
| by Logic Works Ltd                                |
|---------------------------------------------------|
| Developer:                                        |
| Shane Barnaby                                     |
| Steve Kaill                                       |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected throughout Web-ERP.                     |
\--------------------------------------------------*/

/* $Id$*/

body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #fff;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0px;
}

form {
}

img {
	border:none;
}

/* From merge
li { list-style-image: url(bullet.gif); ¡ bullet.gif only exist in fresh theme and off images directory !  } */

/*links before selection */
a {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #00f;
}

/*links on any screen except quick menu which is overridden when mouse is hovering over them */
a:hover {
	color: #00a;
	text-decoration: underline;
}

table {
	background-color: #fff;
	margin: 0 auto;
}

th {
	font-weight: normal;
	background-color: #cccce5;
	font-size: 12px;
	color: #300;
	text-align: center;
	vertical-align: center;
}

.tableheader {
	font-weight: normal;
	background-color: #cccce5;
	color: #300;
}

/*table detail items default format */
td {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
}

td.select {
	background-color:#eee;
}

table.selection {
	background-color:#eee;
	outline-style:solid;
	outline-width:1px;
}

td.number {
	text-align: right;
}

div.centre {
	margin: 0 auto;
	text-align:center;
}

.EvenTableRows {
	background-color: #ccc;
}

.OddTableRows {
	background-color: #eee;
}

.dpTbl {
	border: solid navy 1px;
}

.dpTD {
	border: 0;
	width:20px;
	background-color: #eee;
	text-align:right;
	cursor:pointer;
}

.dpDayHighlight {
	border: 0;
	width:20px;
	background-color: yellow;
	text-align:right;
	cursor:pointer;
}

.dpTDHover {
	border: 0;
	width:20px;
	background-color: #ccc;
	text-align:right;
	cursor:pointer;
}

div.error {
	background-color: #fddbdb;
	color: red;
	border: 1px solid red;
	width: 80%;
	text-align: center;
    margin: 0 auto;
}

div.warn {
	background-color: #f5dbfd;
	color: maroon;
	border: 1px solid maroon;
	width: 80%;
	text-align: center;
    margin: 0 auto;
 }

div.success {
	background-color: #b9ecb4;
	color: #006400;			/* darkgreen is not a w3c css valid color */
	border: 1px solid #006400;	/* darkgreen is not a w3c css valid color */
	width: 80%;
	text-align: center;
    margin: 0 auto;
}

div.info {
	background-color: #c7ccf6;
	color: navy;
	border: 1px solid navy;
	width: 80%;
	text-align: center;
    margin: 0 auto;
}

input {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

input.number {
	text-align: right;
}

/* From merge, uncomment to apply style
input:hover { }
*/

select {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

font.good {
    font-weight: bold;
    color: green;
}

font.bad {
    font-weight: bold;
    color:red;
}

/* From merge, uncomment to apply style
font.header_title { }
End merge */

#topMenu {
	width: 100%;
	color: black;
	background-color: white;
	border: none;
}

#trim {
	background: white;
}

#page {
	width: 100%;
	color: black;
	font-size: 10px;
	white-space: nowrap;
	border: none;
}

#menuImg {
	vertical-align: top;
	text-align: center;
	margin: 0px;
	padding: 10px;
}

#mainMenu {
	width: 100%;
	color: black;
	background-color: white;
	border: none;
	margin: 0px;
	padding: 0px;
}

.header {
	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: none;
	margin: 0px;
	padding: 0px;
}

.login {
	background-color: white;
	border: none;
}

textarea.texterror {
	background-color: #fddbdb;
}

/* From merge, uncomment to apply styles
textarea {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

textarea:hover { }

// Table type is used for UI tables type 1
.table1 {
  width:90%;
  background: #eee;
  border: 0px 0px 2px 2px #222 solid;
  background: #eee;
  margin: 0 auto;
}
// Table type is used for UI tables type 2
.table2 {
  width:90%;
  background: #eee;
  border: 0px 0px 2px 2px #222 solid;
  background: #eee;
  margin: 0 auto;
}

input.address3 {
	text-transform: uppercase;
}

div.csv {
        background:lightgray;
        color: black;
        border: 1px solid black;
        PADDING-LEFT: 3px;
        Z-INDEX: 1;
        width: 50%;
        FLOAT: none;
        VISIBILITY: visible;
        MARGIN: 0 auto;
        POSITION: static;
        font-family: Arial, Verdana, Helvetica, sans-serif;
        padding-top: 1px;
        padding-bottom: 1px;
        font-weight: normal;
        font-size: 10px;
        TEXT-ALIGN:center;
}
End Merge */

.callout_main {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: white;
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.main_page {
	background-color: white;
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
 	font-size: 12px;
}

/* Main page heading with quick menu within */
.quick_menu {
	background-color: #ccc;
	border: none;
	margin: 0px;
	padding: 0px;
 	color: #fff;
	border: none;
	text-align: right;
	/* position: relative;
	top: 3px; */
}

#quick_menu {
	width: 100%;
	background: #ccc url(images/menu_bg_grey.png) 0px 0px repeat-x;
	border-bottom: solid 1px #aaa;
}

/*The main page heading left part before quick menu */
.quick_menu_left {
	background: none;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border: none;
	white-space: nowrap;
	margin: 0px;
	padding-left: 5px;
	color: #777;
}

/*the Select Customer / Item / Supplier Menu tabs */
.quick_menu_tabs {
	background:none;
	border-collapse:collapse;
     /*	height:28pt; does nothing since dependends on next class */
	white-space: nowrap;
	border: 0px;
	padding: 0px;
	text-align: right;
}

.quick_menu_tab {
	background: #ccc url(images/button_bg.png) repeat-x; /* 0px -1px changed to 0  */
	height: 42px; /* 28 pt */
	white-space: nowrap;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
}

/* From merge
.quick_menu_tab a{
	color:#000;
	font-weight:bold;
}

.quick_menu_left a{
	color:#fff;
}

.quick_menu_tab a:hover {
	color:#ffc;
	text-decoration:none;
	font-weight:bold;
}

.quick_menu_left a:hover{
	color:#ffc;
	text-decoration:none;
}

.quick_menu_tab:hover{
	color:#ffd;
}
*/

/*the Select Customer / Item / Supplier Menu tabs */
.system_menu_tabs {
	background-color: white;
	white-space: nowrap;
	border: none;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	text-align: center;
}

.system_menu_tabs a {
	font-size: 12px;
	color: black;
}

.system_menu_tabs a:hover {
	font-size: 12px;
	color: black;
}

.main_area {
	border: none;
	width: 100%;
	background-color: white;
}

.main_menu {
	border: 0px;
}

/* From merge, uncomment to apply style
.main_menu a { }

.main_menu a:hover { } */

.main_menu table {
	margin-top:5px;
	border: 0px;
	border-collapse: collapse;
	width: 100%;
}

.main_menu_unselected {
	background: #aaa;
	border: 1px solid #777;
/*	position: relative; it's not a div but a table */
	text-align: center;
	white-space: nowrap;
	height: 16pt;
}

.main_menu_unselected:hover {
	background: #aaa;
}

.main_menu_unselected a {
	color: #333;
}

.main_menu_unselected a:hover {
	color: #000;
	text-decoration: none;
}

.main_menu_selected {
	background: #aaa url(images/menu_bg_blue.png) 0px -10px repeat-x;
	border: 1px solid #888;
/*	position: relative; it's not a div but a table */
	text-align: center;
	white-space: nowrap;
	height: 16pt;
}

/* From merge, uncomment to apply style
.main_menu_selected:hover { } */

.main_menu_selected a {
	color: #00F;
}

.main_menu_selected a:hover {
	color: #000;
	text-decoration: none;
}

span.main_menu_nolink {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #777;
	text-decoration: none;
	white-space: nowrap;
}

.menu_group_img {
	background-color: #ccc;
	text-align: center;
	width: 90px;
	position: relative;
	left: 3px;
}

.menu_group_img img {
	position: relative;
	top: 10px;
}

.menu_group_area {
	border: none
}

.blank_area table {
	border: 0px;
	width: 100%;
}

.menu_group_headers {
	background: #aaa url(images/menu_bg_white.png) 0px -3px repeat-x;
	width: 25%;
	vertical-align: top;
	padding: 0 0 2px 0;
}

.menu_group_headers table {
	background: #aaa url(images/menu_bg_white.png) 0px -3px repeat-x;
}

.menu_group_headers_text {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.menu_group_items {
	vertical-align: top;
	border: none;
	padding: 10px;
}

.menu_group_item {
	padding-top: 2px;
	padding-bottom: 2px;
}

.menu_group_item p {
	color: #00f; /* This is the color for bullets, I like it to be the same as the anchor color, but it's up to you */
	text-indent: -11px; /* this makes the bullet to appear as the li tag previously used */
	margin: 0 0 0 12px; /* One thing that I didn´t like of the li was that it had no left margin applied */
}

p.page_title_text {
        font-family: Arial, Verdana, Helvetica, sans-serif;
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
        font-size: 12px;
        color: black;
        background-color: #cccce5;
        width: 33%;
        border-style: solid;
        border-width: 1px;
        border-color: #666;
		margin: 10px auto;
		text-align:center;
}

div.page_help_text {
        background-color: #ccc;		/* lightgray is not a w3c css valid color #ccc */
        border: #a52a2a 1px solid;
        padding-top: 1px;    /* 2px in merge */
        padding-bottom: 1px; /* 2px in merge */
        padding-left: 3px;   /* 10px in merge */
        z-index: 1;
        width: 50%; /* 80% in merge */
        float: none;
        visibility: visible;
        margin: 0 auto;
        position: static;
        font-family: Verdana, Arial, Helvetica;
        font-weight: normal;
        font-size: 10px;
        color: black;
        text-align:center;
}

/* From merge
DIV.page_help_text {
	background: lightgrey url(images/help.png) top left no-repeat;
lightgray is not a w3c css valid color and ¡ help.png doesn't exist !
}

DIV.system_check {
        BORDER: #a52a2a 1px solid;
        PADDING-LEFT: 3px;
        Z-INDEX: 1;
        width: 40%;
        FLOAT: none;
        VISIBILITY: visible;
        MARGIN: 0 auto;
        POSITION: static;
        background: lightgray;
        font-family: Verdana, Arial, Helvetica;
        padding-top: 1px;
        padding-bottom: 1px;
        font-weight: normal;
        font-size: 10px;
        color: black;
        TEXT-ALIGN:left;
}

End merge */

span.menu_group_nolink {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #777;
	text-decoration: none;
}

.menu_group_item a {
}

.menu_group_items a:hover {
	color: #00a;
	text-decoration: underline;
}

#footer {
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	background: #ccc url(images/menu_bg_grey.png) 0px 0px repeat-x;
	position: relative;
	bottom: -3px;
}

/* From merge
a.footer {
	font-family: Verdana, Arial, Helvetica;
	color: black;
	font-weight: normal;
	font-size: 8px;
}
End merge */

.footer {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: black;
	font-weight: normal;
	font-size: 8px;
	text-align: center;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-color: #ccc #333 #333 #ccc;
	border-width: medium;
	border-style: ridge;
}

.promo {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #003;
}

.titlebar {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	color: white;
  	background-color: #369;
}

.dingbat {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-color: #9c9;
	color: #066;
	font-weight: bolder;
	font-size: medium;
}

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

input.inputerror {
	background-color: #fddbdb;
}

select.selecterror {
	background-color: #fddbdb;
}

.notavailable {
	font-weight: lighter;	/* light is not a w3c css valid font weight */
	font-style:italic;
	color:#555;
}

.label {
	font-weight:bold;
	font-style:normal;
	font-size:12px;
	color:black;
	background-color:#ccc;
}

.OsRow {
	background-color: #234567;
	color: white;
}
/* From merge, uncomment to apply style
.table_index {
	background-color: #F1FFDD;
}
End merge */
