/*--------------------------------------------------\
|               |               | default.css       |
|---------------------------------------------------|
| For use with:                                     |
| Web-ERP - http://web-erp.sourceforge.net          |
| by Logic Works Ltd                                |
|---------------------------------------------------|
| Developer:                                        |
| Shane Barnaby                                     |
|                                                   |
|---------------------------------------------------|
| Note:                                             |
| Changes can be made to this CSS that will be      |
| reflected throughout Web-ERP.                     |
|
\--------------------------------------------------*/

body {
	font-family: Verdana, Arial, Helvetica;
	background: #eeeeff;
	font-family: arial, verdana;
	font-size: 8px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 10px;
	padding: 0px;
}

/*links before selection */
a {
	color: #0000ff;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

a:link {
	color: #00000ff;
	font-weight: normal;
	text-decoration: none;
}


a:active {
	color: #0000ff;
	font-weight: bold;
	text-decoration: none;
}

/*links on any screen when mouse is hovering over them */
a:hover {
	color: #00ff00;
	font-weight: bold;
	text-decoration: underline;
}

/*table detail items default format */
td {
	font-family:arial, verdana;
	font-size: 10;
}

input {
	font-family:arial, verdana;
	font-size: 10;
}

select {
	font-family:arial, verdana;
	font-size: 10;
}


#topMenu {
	width: 100%;
	color: #000000;
	background-color: #ffffff;
	border: none;
	border-bottom: 1px solid #999999;
}

#trim {
	background: "#ffffff";
}

#page {
	width: 100%;
	color: #000000;
	font-size 8px;
	white-space: nowrap;
	border: none;
}

#menuImg {
	vertical-align: top;
	text-align: center;
	margin: 0px;
	padding: 10px;
}

#mainMenu {
	width: 100%;
	color: #000000;
	background-color: #ffffff;
	border: none;
	margin: 0px;
	padding: 0px;
}

.header {
	background-image: url("");
	background-repeat: no-repeat;
	background-attachment: fixed;
	border: none;
	margin: 0px;
	padding: 0px;
}

.login {
	background-color: #ffffff;
	border: none;
}

.callout_main {
	font-family: Verdana, Arial, Helvetica;
	background-color: #ffffff;
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.main_page {
	background-color: #ffffff;
	border: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
 	font-size 10px;
}

/*the Select Customer Item Supplier Menu bar */
.quick_menu {
	background-color: #ffffff;
	border: none;
	margin: 0px;
	padding: 0px;
 	color: #000000;
	border-top: 2px #aaaaaa solid;
	border-left: 2px #aaaaaa solid;
	border-right: 2px #ffffff solid;
	border-bottom: 4px #ffffff solid;
	text-align: right;
	/* position: relative;
	top: 3px; */
}

/*the Select Customer / Item / Supplier Menu tabs */
.quick_menu_tabs {
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	background-color: #ffffff;
	white-space: nowrap;
	border: none;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

/*the Select Customer / Item / Supplier Menu link format */
.quick_menu_tabs a {
	color: #0000ff;
	font-weight: bold;
	text-decoration: underline;
}

.quick_menu_tabs a:link {
	color: #0000ff;
	font-weight: bold;
	text-decoration: underline;
}

.quick_menu_tabs a:active {
	color: #0000ff;
	font-weight: bold;
	text-decoration: underline;
}

.quick_menu_tabs a:hover {
	color: #ff0000;
	font-weight: bold;
	text-decoration: underline;
}

/*The page heading */
.quick_menu_selected{
	font-family: Verdana, Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
	border: none;
	white-space: nowrap;
	margin: 2px;
	padding: 2px;
	color: #aaaaaa;
	font-weight: bolder;
}

.main_menu {
	font-family: Verdana, Arial, Helvetica;
	background-color: #cccccc;
	font-size: 10px;
	border-top: 1px #aaaaaa solid;
	border-bottom: 1px #aaaaaa solid;
	font-weight: normal;
	width: 100%;
}

.main_menu_selected {
	background-color: #ffffff;
	border-top: 1px #aaaaaa solid;
	border-left: 1px #aaaaaa solid;
	border-right: 1px #aaaaaa solid;
	border-bottom: 0px;
	font-weight: normal;
	position: relative;
	top: 3px;
}

.main_menu a {
	color: #0000ff;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
}

.main_menu a:link {
	color: #0000ff;
	font-weight: normal;
	text-decoration: none;
}

.main_menu a:active {
	color: #0000ff;
	font-weight: normal;
	text-decoration: none;
}

.main_menu a:hover {
	color: #00ff00;
	font-weight: bold;
	text-decoration: underline;
}

.menu_group_img {
	background-color: #cccccc;
	text-align: center;
	width: 90px;
	position: relative;
	left: 3px;
}

.menu_group_img img{
	position: relative;
	top: 10px;
}

.menu_group {
	font-family: Verdana, Arial, Helvetica;
	font-size: 14px;
	color: #ffffff;
	background-color: #cccccc;
	font-weight: bold;
}

.menu_group_items {
	background-color: #ffffff;
	font-weight: bold;
	padding: 15px;
	border-top: 1px #aaaaaa solid;
	border-left: 1px #aaaaaa solid;
	border-right: 1px #ffffff solid;
	border-bottom: 1px #ffffff solid;
}

#footer {
	position: relative;
	bottom: -3px;
}

.footer {
	font-family: Verdana, Arial, Helvetica;
	color: #000000;
	font-weight: normal;
	font-size: 8px;
}
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-color: #CCCCCC #333333 #333333 #CCCCCC;
	border-width: medium;
  border-style: ridge;
}

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
  	background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CC99;
  color: #006666;
	font-weight: bolder;
	font-size: medium;
}


input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

.tableheader {
	font-weight: normal;
	background-color: #cccce5;
	color: #330000;
}

.OsRow {
	background-color: #234567;
	color: #FFFFFF;
}
