.MainBody {
background:#F5F5F5;
margin-bottom:2px;
padding:1px;
border: 1px solid #82BCF4;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}
.ModuleList {
float:right;
background:#C0C0C0;
white-space:nowrap;
text-align:right;
padding-left:10px;
padding-right:10px;
padding-top:13px;
padding-bottom:13px;
width:11%;
width:min-content;
border:0px solid #4D4D4D;
border-radius:7px;
margin:7px;
}
.ModuleList li a,.ModuleList li a:hover {
background:#494C56;
color:white;
display:block;
border-radius:10px;
text-decoration:none;
margin-bottom:5px;
padding:3px;
border:1px solid #404552;
padding-right:5px;
transition-property:background;
transition-duration:0.5s;
}
.ModuleList .ModuleSelected a {
border:1px solid #1A1A1A;
background:#494C56;
color:white;
padding-right:5px;
}
.ModuleList .ModuleUnSelected a {
border:1px solid #1A1A1A;
background:transparent;
color:#4D4D4D;
padding-right:5px;
}
.ModuleList ul,.MenuList ul {
margin:0;
padding:0;
}
.ModuleList li,.MenuList li {
list-style:none;
}
.MenuList {
background:#DCDCDC;
display: inline;
width:30%;
border-radius:10px;
vertical-align:top;
margin-top:5px;
margin-left:5px;
}
.MenuList legend {
background:#C0C0C0;
color:#000000;
padding:3px;
padding-left:7px;
border-radius:7px;
}
.MenuList legend img {
width:40px;
height:40px;
padding-left:5px;
vertical-align:middle;
}
.MenuItem {
color:#8DCDEB;
text-decoration:none;
text-align:right;
padding:2px;
}
.MenuItem:hover {
background:transparent;
text-align:right;
color:white;
}
.MenuList .CustomMenuList {
background:silver;
outline:thin outset silver;
text-align:center;
color:#000;
margin-bottom:3px;
}
.page_title_text {
background:#DCDCDC;
font-size:120%;
text-align:center;
margin:5px auto;
padding:5px;
width:50%;
clear: both;
border-radius:7px;
}
.page_title_text img {
padding-left:7px;
width:40px;
height:40px;
vertical-align:middle;
}
.toplink {
float:right;
position:relative;
background-image:url(images/next.png);
background-repeat: no-repeat;
background-size:18px 18px;
background-position:5px center;
padding-left:26px;
padding-right:1%;
padding-bottom:0.3%;
background-color:#CFCFCF;
color:#474A54;
border: 2px solid #000000;
border-radius:10px;
margin-bottom:-1%;
top:5px;
left:5px;
text-align:left
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}