form {
background:transparent;
width: 100%;
text-align: center;
}
form fieldset {
display: inline;
border:solid 1px;
margin:auto;
padding-top:7px;
margin-bottom:4px;
margin-right:4px;
border-radius:7px;
text-align:left;
vertical-align:top;
}
form fieldset legend {
background-color:transparent;
padding:3px;
border: 1px solid #8DCDEB;
border-radius:13px;
font-size:150%;
text-align:left;
padding-left:10px;
padding-right:10px;
}
form fieldset legend.search {
background-image:url(images/search.png);
background-repeat: no-repeat;
background-size:18px 18px;
background-position:5px center;
padding-left:26px;
}
form fieldset field {
display:block;
text-align:left;
margin-bottom:3px;
}
form fieldset field label {
float:left;
width:24.5em;
text-align:left;
}
form fieldset field .fieldtext {
margin-top:2px;
margin-bottom:8px;
display:inline;
line-height:170%;
}
form fieldset field input,textarea,select {
background-color:#404552;
color:#8CBFAC;
border-radius: 5px;
border: 1px solid #8DCDEB;
padding:2px;
font-family:inherit;
font-size:inherit;
overflow: scroll;
scrollbar-color: #00644B #404552;
}
form fieldset field select:not([multiple]) {
background:url(images/descending.png) no-repeat right #404552;
padding-right:24px;
color:#8CBFAC;
background-size:contain;
-moz-appearance:none;
-webkit-appearance: none;
}
form fieldset field input:hover,select:hover,textarea:hover {
color:white;
transition-duration:0.5s;
}
form fieldset field input:focus,select:focus,textarea:focus {
box-shadow: 0 0 3px #480FCE;
transition-duration:0.5s;
}
form fieldset field input[type="email"] {
display:inline;
background-image:url(images/mail.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input[type="search"] {
display:inline;
background-image:url(images/search.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input[type="tel"] {
display:inline;
background-image:url(images/tel.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input[type="url"] {
display:inline;
background-image:url(images/url.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form fieldset field input.date {
display:inline;
background-image:url(images/date.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:14px 14px;
padding-left:24px;
}
form input[type="submit"]{
background:transparent;
padding-top: 4px;
padding-bottom: 4px;
background-image:url(images/tick.svg);
background-repeat: no-repeat;
background-position:4px center;
background-size:18px 18px;
padding-left:24px;
padding-right: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#8DCDEB;
border-radius: 15px;
cursor: pointer;
transition-duration:0.5s;
}
form input[name*="PDF"] {
background-image:url(images/pdf.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:18px 18px;
padding-left:24px;
}
form input[title~="View"] {
background-image:url(images/screen.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:18px 18px;
padding-left:24px;
}
form input[name^="Search"] {
background-image:url(images/search.png);
background-repeat: no-repeat;
background-position:4px center;
background-size:18px 18px;
padding-left:24px;
}
form input[type="reset"]{
background:transparent;
background-image:url(images/cross.svg);
background-repeat: no-repeat;
background-position:4px center;
background-size:18px 18px;
padding-top: 4px;
padding-bottom: 4px;
padding-left:24px;
padding-right: 6px;
margin: 1px;
border: 1px solid #8DCDEB;
color:#8DCDEB;
border-radius: 15px;
cursor: pointer;
transition-duration:0.5s;
}
form input[type="submit"].previous_button {
background:url(images/previous.png) center left 2%/18px no-repeat;
padding-right:12px;
padding-left:24px;
}
form input[type="submit"].previous_button:hover {
background:url(images/previous.png) center left 2%/18px no-repeat;
padding-right:12px;
padding-left:24px;
}
form input[type="submit"].next_button {
background:url(images/next.png) center right 2%/18px no-repeat;
padding-right:24px;
padding-left:12px;
}
form input[type="submit"].next_button:hover {
background:url(images/next.png) center right 2%/18px no-repeat;
padding-right:24px;
padding-left:12px;
}
form .number {
text-align:right;
}
fieldset ul li {
text-align:left;
}
fieldset .container {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 3px;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
fieldset .container input {
position: absolute;
cursor: pointer;
display:none;
}
fieldset label .checkmark {
position: absolute;
top: 0;
left: 0;
height: 10px;
width: 25px;
background-color: #eee;
}
fieldset .container:hover input ~ .checkmark {
background-color: #ccc;
}
fieldset .container input:checked ~ .checkmark {
background-color: #00644B;
}
fieldset label .checkmark:after {
content: "";
position: absolute;
display: none;
}
form fieldset field input[type="checkbox"] {
appearance: none;
background-color: #CCDDFF;
margin: 0;
font: inherit;
color: #CCDDFF;
width: 1.9em;
height: 1.9em;
border: 0.15em solid #556699;
border-radius: 0.15em;
transform: translateY(-0.075em);
display: grid;
place-content: center;
}
form fieldset field input[type="checkbox"]::before {
content: "";
width: 0.95em;
height: 0.95em;
clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
transform: scale(0);
transform-origin: bottom left;
transition: 120ms transform ease-in-out;
box-shadow: inset 1em 1em #343E46;
background-color: #556699;
}
form fieldset field input[type="checkbox"]:checked::before {
transform: scale(1);
}
form fieldset field input[type="checkbox"]:focus {
outline: max(2px, 0.15em) solid #556699;
outline-offset: max(2px, 0.15em);
}
form fieldset field input[type="checkbox"]:disabled {
--form-control-color: var(--form-control-disabled);
color: var(--form-control-disabled);
cursor: not-allowed;
}
form fieldset field input[type="radio"] {
appearance: none;
background-color: var(--form-background);
margin: 0;
font: inherit;
color: currentColor;
width: 1.15em;
height: 1.15em;
border: 0.15em solid currentColor;
border-radius: 50%;
transform: translateY(-0.075em);
display: grid;
place-content: center;
}
form fieldset field input[type="radio"]::before {
content: "";
width: 0.75em;
height: 0.75em;
border-radius: 50%;
transform: scale(0);
transition: 120ms transform ease-in-out;
box-shadow: inset 1em 1em var(--form-control-color);
background-color: CanvasText;
}
form fieldset field input[type="radio"]:checked::before {
transform: scale(1);
}
form fieldset field input[type="radio"]:focus {
outline: max(2px, 0.15em) solid currentColor;
outline-offset: max(2px, 0.15em);
}
.label {
width:auto;
height:auto;
}
.TwoColumn {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1rem;
}
.Column1 {
grid-column: 1 / 2;
height:100%;
}
.Column2 {
grid-column: 2 / 3;
height:100%;
}
.TwoByThreeColumn {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 0.7fr 1fr 0.3fr;
gap: 1rem;
}
.Column1x1 {
grid-column: 1 / 2;
grid-row:1 / 2;
margin-left: 5%;
height:100%;
}
.Column1x2 {
grid-column: 1 / 2;
grid-row:2 / 3;
margin-left: 5%;
height:100%;
}
.Column2x1 {
grid-column: 2 / 3;
grid-row:1 / 2;
margin-left: 5%;
height:100%;
}
.Column2x2 {
grid-column: 2 / 3;
grid-row:2 / 3;
margin-left: 5%;
height:100%;
}
.Column1x3 {
grid-column:1 / 3;
grid-row:3 / 4;
margin-left: 5%;
width:90%;
}