.container{
display:grid;
grid-template-columns:repeat(var(--cols), 1fr);
grid-template-rows:repeat(var(--rows), 0.6fr);
column-gap: 10px;
row-gap: 10px;
margin-bottom:2%;
margin-right:1%;
}
.dashboard_cell {
overflow:auto;
background:#C0C3FE;
border: 0px solid #9E0101;
margin-top:4px;
padding:3px;
border-radius:7px;
box-shadow: 0 4px 8px 0 rgba(104, 104, 104, 0.5), 0 6px 6px 0 rgba(104, 104, 104, 0.5);
scrollbar-color: #222222 #8A8A8A;
}
.CloseButton{
float:right;
background:#C0C3FE;
color:#145482;
padding-left:3px;
padding-right:3px;
border-radius:27px;
cursor:pointer;
}
.DashboardTable{
width:100%;
}