footer {
clear:both;
color:#FFFFFF;
font-weight:bold;
height:53px;
padding:0;
background-image: linear-gradient(#9B9BCE, #0202EE);
border-radius:15px;
padding:10px;
}
footer .FooterLogo {
background:transparent;
float:right;
margin-right:5px;
padding:3px;
}
footer .FooterLogo img {
width:128px;
}
footer .FooterVersion {
float:right;
margin-right:10px;
margin-top:15px;
}
footer .FooterTime {
float:left;
margin-top:15px;
margin-left:15px;
}