DIV.page_help_text {
background:#D3D3D3;
background-size:32px 32px;
min-height:32px;
border:#a52a2a 1px solid;
padding-top:12px;
padding-bottom:12px;
padding-right:10px;
z-index:1;
width:80%;
float:none;
visibility:visible;
position:static;
color:#000;
text-align:center;
margin:0 auto;
margin-bottom:5px;
}

@media only screen and (max-device-width:767px) {
/* Style for new browser in a device with a rendering width less than 768px (xs - Extra small devices - Phones). */
.page_help_text {display:none;/* Hides field help text. */}
}