footer {
background:url(images/wood.jpg) #feb;
clear:both;
color:#0A0A3F;
height:53px;
padding:0;
margin:5px;
margin-top:0px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
}
footer .FooterLogo {
background:transparent;
float:right;
margin-right:5px;
padding:3px;
padding-top:9px;
}
footer .FooterLogo img {
width:128px;
}
footer .FooterVersion {
float:right;
margin-right:10px;
margin-top:20px;
}
footer .FooterTime {
float:left;
margin-top:15px;
margin-left:15px;
}