table {
background:none repeat scroll 0 0 #FFF;
box-shadow:3px 3px 4px #631;
text-align:center;
width:auto;
max-width:90%;
margin:5px auto;
padding:3px;
table-layout: fixed;
}
table tr.visible {
display:table-row;
}
table tr.invisible {
display:none;
}
table th {
background-color:#ffd980;
color:#000;
text-align:center;
}
table th img {
vertical-align:middle;
}
table th.SortedColumn {
cursor:s-resize;
padding-right:16px;
background-image:url(images/ascending.png);
background-repeat: no-repeat;
background-position:right;
background-size:12px;
}
table td {
text-align:left;
}
table td.select {
background-color:#ffb;
}
table tr.striped_row:nth-of-type(even) {
background-color:#f5e6c9;
}
table tr.striped_row:nth-of-type(odd) {
background-color:#f2fac0;
}
table tr.success_row {
background-color:#b9ecb4;
color:#006400;
border:1px solid #006400;
margin:0 auto 10px;
padding:10px;
}
table tr.warn_row {
background-color:#f5dbfd;
color:maroon;
border:1px solid maroon;
margin:0 auto 10px;
padding:10px;
}
table tr.info_row {
background-color:#C7CCF6;
border:0 solid navy;
color:navy;
margin:0 auto 10px;
padding:10px;
}
table tr.error_row {
background-color:#fddbdb;
color:red;
border:1px solid red;
margin:0 auto 10px;
padding:10px;
}
table tr.total_row {
background:#F3DAA2;
color:#1A1A1A;
font-weight:bold;
}
table .number {
text-align:right;
}
table th .PrintIcon {
width:32px;
float:right;
cursor:pointer;
}